@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter'),
    url('/fonts/inter-v2-latin-regular.woff2') format('woff2'),
    url('/fonts/inter-v2-latin-regular.woff') format('woff'),
    url('/fonts/inter-v2-latin-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Inter'), url('/fonts/inter-v2-latin-700.woff2') format('woff2'),
    url('/fonts/inter-v2-latin-700.woff') format('woff'),
    url('/fonts/inter-v2-latin-700.ttf') format('truetype');
}
