/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v2-latin-regular.eot');
  src: local(''),
    url('/fonts/inter-v2-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/inter-v2-latin-regular.woff2') format('woff2'),
    url('/fonts/inter-v2-latin-regular.woff') format('woff'),
    url('/fonts/inter-v2-latin-regular.ttf') format('truetype'),
    url('/fonts/inter-v2-latin-regular.svg#Inter') format('svg');
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter-v2-latin-700.eot');
  src: local(''),
    url('/fonts/inter-v2-latin-700.eot?#iefix') format('embedded-opentype'),
    url('/fonts/inter-v2-latin-700.woff2') format('woff2'),
    url('/fonts/inter-v2-latin-700.woff') format('woff'),
    url('/fonts/inter-v2-latin-700.ttf') format('truetype'),
    url('/fonts/inter-v2-latin-700.svg#Inter') format('svg');
}
